/*列表页的css*/
.sk img{
	position:absolute;
	top:40px;
	left:185px;
	height:32px;
	border-left:1px solid #b1191a;
	padding: 5px 0 0 15px;
}
.sk_list li{
	float:left;
	line-height: 45px;
	margin:0 25px;
	font-size: 16px;
}
.sk_list li a{
	font-size: 16px;
	font-weight: 700;
}
.sk_con li{
	float:left;
	line-height: 45px;
	margin:0 25px;
	font-size: 14px;
}
.icomoon{
	 font-family: 'icomoon';
	 font-size: 16px;
	 line-height: 26px;
}
.sk_container{
	width: 1200px;
}
.sk_hd{
	height:120px;
}
.sk_bd{
	margin-top: 25px;
}
.sk_bd ul{
	width: 1213px;
}

/*列表页内容*/
.sk_goods {
	float: left;
	width: 288px;
	height: 458px;
	border: 1px solid transparent;
	margin-right: 13px;
	margin-bottom: 15px;
}
.sk_goods:hover{
	border: 1px solid #e12228;
}
.sk_goods_title{
	font-size: 14px;
	color: #666;
	font-weight: normal;
	padding: 10px  13px 10px 13px;
}
.sk_goods_price{
	padding: 0 10px;
}
.sk_goods_price em{
	font-size: 22px;
	color: #e60012;
}
.sk_goods_price del{
	margin-left: 7px;
	font-size: 14px;
	color: #ababab;
	font-weight: 700;
}
.sk_goods_progress{
	padding: 0 10px;
}
.bar{
	display:inline-block;
	width: 130px;
	height: 10px;
	border: 1px solid #b1191a;
	vertical-align: middle;
	margin:0 12px; 
	border-radius:5px;
}
.bar_in{
	height: 11px;
	background-color:  #f24349;
	width: 87%;
}
.sk_goods_progress em{
	color: #f24349
}
.sk_goods_buy {
	width: 100%;
	display: block;
	background-color: #b1191a;
	height: 50px;
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	margin-top: 7px;
}